.info-box {
  display: block;
  min-height: 180px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin: 15px 0px 15px 0px;;
  
}
.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 120px;
  width: 120px;
  text-align: center;
  line-height: 40px;
  font-size: 45px;
  background: rgba(0, 0, 0, 0.2);
  padding-top: 20px;
}
.info-box-icon > img {
  max-width: 100%;
}
.info-box-icon-white {
  color: #fff;
}
.info-box-icon-title{
	color:#fff;
	font-size:15px;
}
.info-box-content {
  padding-left: 10px;
  margin-left: 120px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.info-box-content-left{
  display:inline;
  float:left;
  width:50%;
}
.info-box-content-right{
  display:inline;
  width:50%;
}
.info-box-content-border{
	border-bottom: 1px solid #eee;
}
.bg-aqua{
  background-color: #00c0ef;
}
.bg-red{
  background-color: #dd4b39;
}
.bg-green{
  background-color: #00a65a;
}
.bg-yellow{
  background-color: #f39c12;
}
.bg-Cornsilk {
  background-color: Cornsilk;
}

.bg-DarkViolet{
  background-color: DarkViolet;
}
 
.bg-DarkRed{
  background-color: DarkRed;
}

.bg-DimGray{
  background-color: DimGray;
}

.bg-Indigo{
  background-color: Indigo;
}

.bg-SaddleBrown{
  background-color: SaddleBrown;
} 

.bg-SeaGreen{
  background-color: SeaGreen;
} 

.bg-SteelBlue{
  background-color: SteelBlue;
}

.color-green{
  color: #00a65a;
}	

.color-red{
  color: #dd4b39;
}	

body {
	font-family: 'Open Sans', sans-serif;
	color: #353535;
}
.content h1 {
	text-align: center;
}
.content .content-footer p {
	color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
.content .content-footer p a {
	color: inherit;
	font-weight: bold;
}
.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}

.table-app-management .media-photo {
	width: 35px;
}
.table-app-management .img-btn{
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.table-app-management .media-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-app-management .media-meta {
	font-size: 11px;
	color: #999;
}
.table-app-management .media .title {
	color: #2BBCDE;
	font-size: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	line-height: normal;
	margin: 5px 0px 15px 0px;
}
.table-app-management .media .title span {
	font-size: .8em;
	margin-right: 20px;
}
.table-app-management .media .title span.pagado {
	color: #5cb85c;
}
.table-app-management .media .title span.pendiente {
	color: #f0ad4e;
}
.table-app-management .media .title span.cancelado {
	color: #d9534f;
}
.table-app-management .media .summary {
	font-size: 14px;
	font-family: "Courier New", Courier, monospace;
}

.table-app-management .table-btn{
	right:0;
	bottom:0;
}

.table-app-management .fa-btn{
	cursor: pointer;
	margin: 0px 5px 0px 5px;
}

.table-app-management .fa-trash{
	color: DarkRed;
}